@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
    --bg:#D1D7E1;
    --blue:#5B52FC;
    --gray:#191919;
    --red: #FC5252;
    --yellow: #FCA452;
    --lightblue: #6497C7;
}

*, 
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body {
  background:var(--bg);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.searchBar{
    width: 600px;
    height: 130px;
    border-radius: 40px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    position: absolute;
    align-items: center;
    cursor:grab;
    display: flex;
    align-items: center;
    transition: width 500ms;
}

.searchReduced {
    width: 130px;
}

.searchBar .reduced {
    background:var(--lightblue);
}

.searchMaximized {
    width: 600px;
}

.searchBar .maximized {
    background:var(--yellow);
}

.searchBar:active{
    cursor:grabbing;
}

.searchText{
    position: absolute;
    left:20px;
    height: 80%;
    display: flex;
    align-items: center;
}

.searchBar .searchText input{
    transition:opacity 200ms;
    font-weight: 500 !important;
    color:var(--gray);
    border:none;
    background:none;
    margin-left:30px;
    font-size: 30px;
    opacity: .9;
}

.searchBar .searchText input:focus{
    outline:none;
}

.searchBar .searchText input::placeholder{
    color:var(--gray);
    opacity: .9;
}

.searchBtn{
    background:var(--blue);
    height: 90px;
    width: 90px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

.closeBox{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--yellow);
    border-radius: 25px;
    position: absolute;
    top:-25px;
    right: -25px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms;
}

/* CITY CONTAINER */
.cityContainer{
    position: absolute;
    height: 570px;
    width: 475px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 40px;
    cursor:grab;
}

.cityContainer:active{
    cursor:grabbing;
}

.cityTitle{
    background: var(--blue);
    width: 90%;
    margin-left:5%;
    height: 100px;
    margin-top: 25px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

.cityTitle span:nth-child(1){
    font-size: 30px;
}

.cityTitle span:nth-child(2){
    font-size: 20px;
    font-style: italic;
    opacity: .8;
}

.cityInfos{
    height: calc(100% - 185px);
    display: flex;
    justify-content: center;
}

.cityInfos ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.cityInfos ul li:first-child{
    margin-top: 50px !important;
}

.cityInfos ul li{
    margin-top: 40px;
    color:var(--gray);
    display: flex;
}

.cityInfos ul li .img{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cityInfos ul li span{
    margin-left:40px;
    font-size: 25px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.cityCross{
    background: var(--red);
    position: absolute;
    top: -25px;
    right: -25px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms;
}